# Python
__pycache__/        
*.pyc               
*.pyo              
*.pyd              

# Virtual Environment
.venv/              

# dotenv
.env               

# Logs
logs/               
*.log              

# IDE/Editor
.vscode/           
.idea/             

# OS
.DS_Store           
Thumbs.db          

# Others
*.sqlite3          
*.db
